{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="page-container">
      <div id="content-wrapper">
    <div class="container login-container centered ">
      <div class="login-header">
        <img src="{% static 'img\site-logo.ico' %}" class="login-logo img-responsive">
      </div>

      <div class="login-info " style="border:2px solid #EB8A8A 0.7;">
          <form action="{% url 'register' %}" method="POST">
            {% include 'partials/_alerts.html' %}
            {% csrf_token %}
            <h2 style="color:black;padding-left:20px">Create Account</h4>
          <div class="form-group">
            <label for="fname">Your Name:</label><br>
            <input type="text" name="fname" id="fname" label="fname" >
          </div>
          <div class="form-group">
            <label for="username">Username:</label><br>
            <input type="text" name="username" id="username" label="username" >
          </div>
        <div class="form-group">
          <label for="mobilenumber">Mobile number:</label><br>
          <input type="number" name="mobilenumber" id="mobilenumber" label="mobilenumber" width=45%>
        </div>
        <div class="form-group">
          <label for="Email">Email</label><br>
          <input type="email" name="Email" id="Email" label="Email">
        </div>
        <div class="form-group">
          <label for="password">Password</label><br>
          <input type="password" name="password" id="password" label="password" >
        </div>
          <div class="form-group">
            <label for="password2">Confirm Password</label><br>
          <input type="password" name="password2" id="password2" label="password2" >
        </div>
        <div class="form-check">
          <button class="btn submit-button" type="submit" name="submit" id="submit" value="submit" >Submit</button>
        </div>
    </form>
      </div>
      <div class="login-link">
        <p class="small-text"><small><i><center>Already have an account?</center></i></small></p>
        <p><a href="{% url 'login' %}"><center>Sign In</center></a></p>
      </div>
    </div>

    </div>

    <hr align="center" style="width:50%;height:1px;">
    <div class="container">
    <h5 class="login-footer"><small><center>@ 1996-2018 ,Pinnochio'sPizza.com,Inc or its affiliates</center></small></h5>
  </div>
  </div>
{% endblock %}
