{% load static %}


</div>
</div>
<div class="navbar-static-bottom" id="footer">
    <footer>
      <img src="{% static 'img/Pizza_icon.png' %}" width="60" height="40" >
      <a href="#" class="footer-logo-text">Pinnochio's Pizza</a>
        <hr style="color:gray;">
      <ul class="list-unstyled">
        <li><i class="fa fa-phone" aria-hidden="true" style="padding-left:30px;font-size:20px;"></i>
        +9999-3456-5681</li>

        <li><i class="fa fa-envelope" aria-hidden="true" style="padding-left:30px;font-size:20px;"></i>
        info@PinPizza.co.in</li>
      </ul>
      <ul class="nav" style="float:right;">
        <li class="nav-item active">
          <a class="nav-link" href="">
            <i class="fa fa-facebook" aria-hidden="true" style="font-size:30px; color:white;">
            </i></a></li>
        <li class="nav-item active">
          <a class="nav-link" href="">
            <i class="fa fa-twitter" aria-hidden="true" style="font-size:30px; color:white;"></i></a></li>
        <li class="nav-item active">
          <a class="nav-link" href="">
            <i class="fa fa-google-plus-official"  aria-hidden="true" style="font-size:30px; color:white;">
              </i></a></li>
      </ul>
      <br>
    </footer>
</div>
